/* RESET  */
/* *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
} */


.my-link-format li{
    list-style-type: none;
}
.my-link-format a{
    text-decoration: none;
}
:root{
    --my-bg-badge: #165CBA;
}

.my-bg-badge{
    color: white;
    text-transform: capitalize;
}
.my-bg-badge-blue{
    background-color: var(--my-bg-badge);
}

.circle-code{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: lightcoral;
    border-radius: 50%;
    height: 2.5em;
    width: 2.5em;
}
.circle-code i{
    font-size: 1.5em;

}
.rettangle-code{
    display: inline-block;
    background-color: lightcoral;
    width: 1.5em;
    height: 1.5em;
    border-radius: 50%;
    margin-right: 10px;
}

.my_w-40{
    width: 40%;
}

.my_w-offcanvas{        /*    Offcanvans     */
    width: 100% !important;
}

.my_hover-link:hover{
    text-decoration: underline;
}
.my_hover-link-ul:hover{
    background-color: white;
    border-radius: 15px;
}
.my_hover-link-ul:hover a{
    color: #1B72E7 !important; 
}