/* FIRST MOBILE */

/* @media all and (min-width: 576px){
    
}

@media all and (min-width: 768px){

} */

@media all and (min-width: 992px){
    #main-aside{
        width: 110px;
    }
    #main-principal{
        width: calc(100% - 110px);
        
    }
    .my_w-offcanvas{  /*    Offcanvans     */
        width: 50% !important;
    }
}