header .row{
    height: 70px;
}
header .bg_mysearch{
    background-color: #E5E5E5;
    border-color: #E5E5E5;
}
main{
    height: calc(100vh - 70px);
    width: 100%;
}

#main-aside{
    display: inline-block;
    background-color: #051E34;
    /* background-color: gray; */
    height: 100%;
    width: 150px;
}
#main-aside > div{
    height: 100%;
}
#main-principal{
    display: inline-block;
    width: calc(100% - 150px);
    height: 100%;
    
}
#main-header{
    background-color: #1B72E7;
}


